<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>NIVESH - MEMES</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="../../public/memestyle.css">
<link rel="shortcut icon" href="../../public/nivesh.png">
<link href="../../public/homeassets/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- jQuery JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <!-- Tether JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
    integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>

  <!-- jQuery-confirm JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>

  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
    integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"></script>

  <!-- Chart.js CDN-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

  <!-- Django Secure AJAX JS -->
  <script src="/static/js/csrf_ajax.67a5c23fbd3a.js"></script>

  <!-- Custom JS -->
  <script src="/static/js/transaction.c5b530b843b0.js"></script>
  <script src="home.4ee5f5cc61c3.js"></script>
  <script src="/static/js/loan.94a4fd44c71c.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="/">
		  <i class="fas fa-chart-line fa-lg" aria-hidden="true"></i>
		  निVESH
		</a>
	
		<!-- Links -->
		<ul class="navbar-nav">
		  <li class="nav-item">
			<a class="nav-link" href="../#road">Roadmap</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="../NIVESH/simulator">GrowMore</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/visualisations">Visualisation</a>
		  </li>
	
		  <!-- Dropdown -->
		  <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
			  Calculators
			</a>
			<div class="dropdown-menu">
			  <a class="dropdown-item" href="../Calculator">Stock Market vs FD returns</a>
			  <a class="dropdown-item" href="../Calculator1">Goal Planning</a>
			</div>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="../news">News</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="../memes">Memes</a>
		  </li>
		  <li style="margin-left: 600px ;" class="nav-item">
			<a class="nav-link" href="/login/">Login</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/signup/">Register</a>
		  </li>
		</ul>
	  </nav>
<!-- partial:index.partial.html -->
<header>

	<div class="container">

		<div class="profile">

			<div class="profile-image">

				<img src="https://knowledge.wharton.upenn.edu/wp-content/uploads/2020/11/Stock-Market-1024x440.jpg" width="200" height="200" alt="">

			</div>

			<div class="profile-user-settings">

				<h1 class="profile-user-name"><span style="font-size: 36px;">नि</span><b>VESH</b></h1>

				<button class="btn profile-edit-btn">Edit Profile</button>

				<button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>

			</div>

			<div class="profile-stats">

				<ul>
					<li><span class="profile-stat-count">12</span> posts</li>
					<li><span class="profile-stat-count">8.4m</span> followers</li>
					<li><span class="profile-stat-count">206</span> following</li>
				</ul>

			</div>

			<div class="profile-bio">

				<p><span class="profile-real-name">followed by </span><strong> _harshad_mehta, jio_reliance, nifty and 908k others.</strong></p>

			</div>

		</div>
		<!-- End of profile section -->

	</div>
	<!-- End of container -->

</header>

<main>

	<div class="container">

		<div class="gallery">

			<div class="gallery-item" tabindex="0">

				<img src="https://image.scoopwhoop.com/w620/s3.scoopwhoop.com/anj2/5f898ae418ac812db947b032/e80683ca-3cbd-42c1-8cb5-879e3cb05f32.jpg.webp" class="gallery-image" alt="">


			</div>

			<div class="gallery-item" tabindex="0">

				<img src="https://image.scoopwhoop.com/w620/s4.scoopwhoop.com/anj2/5f898ae418ac812db947b032/41a42dc1-41ca-4472-ab5d-263ec07021bb.jpg.webp" class="gallery-image" alt="">

				

			</div>

			<div class="gallery-item" tabindex="0">

				<img src="https://image.scoopwhoop.com/w620/s3.scoopwhoop.com/anj2/5f898ae418ac812db947b032/2c365c7b-64d5-414e-9937-066bd6976ee5.jpg.webp" class="gallery-image" alt="">

				
				
			</div>

			<div class="gallery-item" tabindex="0">

				<img src="https://image.scoopwhoop.com/w620/s3.scoopwhoop.com/anj2/5f898ae418ac812db947b032/332c8041-d3c6-40e8-9d99-ab25f6d1411c.jpg.webp" class="gallery-image" alt="">

				
				

			</div>

			<div class="gallery-item" tabindex="0">

				<img src="https://image.scoopwhoop.com/w620/s3.scoopwhoop.com/anj2/5f898ae418ac812db947b032/c031d991-bc83-414a-b385-99c2d4a562ec.jpg.webp" class="gallery-image" alt="">

				

				

			</div>

			<div class="gallery-item" tabindex="0">

				<img src="https://image.scoopwhoop.com/w620/s3.scoopwhoop.com/anj2/5f898ae418ac812db947b032/f5a71362-1095-4e76-a9ea-d90907430a85.jpg.webp" class="gallery-image" alt="">

				
			</div>

			<div class="gallery-item" tabindex="0">

				<img src="https://image.scoopwhoop.com/w620/s3.scoopwhoop.com/anj2/5f898ae418ac812db947b032/4075ed89-4445-4ef4-8b5d-f4ddabab4ff8.jpg.webp" class="gallery-image" alt="">

				
				
			</div>

			<div class="gallery-item" tabindex="0">

				<img src="https://image.scoopwhoop.com/w620/s4.scoopwhoop.com/anj2/5f898ae418ac812db947b032/ef4bfee9-0ead-43cc-b4a9-66259e78eddd.jpg.webp" class="gallery-image" alt="">

				
			</div>

			<div class="gallery-item" tabindex="0">

				<img src="https://image.scoopwhoop.com/w620/s3.scoopwhoop.com/anj2/5f898ae418ac812db947b032/d7a35d07-24f0-4819-bf73-305bd15a3e10.jpg.webp" class="gallery-image" alt="">

				

				

			</div>

			<div class="gallery-item" tabindex="0">

				<img src="https://image.scoopwhoop.com/w620/s4.scoopwhoop.com/anj2/5f898ae418ac812db947b032/5971a3b5-4424-4ae8-a0b2-3bbd09141748.jpg.webp" class="gallery-image" alt="">

				

			</div>

			<div class="gallery-item" tabindex="0">

				<img src="https://simg-memechat.s3.ap-south-1.amazonaws.com/3e09fa1e830c739bbe890c88058c5126.jpg" class="gallery-image" alt="">

				

			</div>

			<div class="gallery-item" tabindex="0">

				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9hAGRuUsP4p9NMoqTj3wXFrRpPqeNrtffEw&usqp=CAU" class="gallery-image" alt="">

				
			
			</div>

		</div>
		<!-- End of gallery -->

	</div>
	<!-- End of container -->

</main>
<!-- partial -->
  <script  src="../../public/memescript.js"></script>

</body>
</html>
