<%- include('partials/header') %>


<div class="jumbotron centered">
    <div class="container">
        <h1 class="display-3">WRONG PASSWORD</h1>
        <p class="lead">GO BACK AND TRY AGAIN</p>
        <hr>
    </div>
</div>

<%- include('partials/footer') %>