
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="/static/favicon.b6a5d77ddb70.png">
    <title>निVESH</title>
    <link rel="stylesheet" href="home.css">
		

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

<!-- FontAwesome CSS -->
<link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">

<!-- SVG Icons CSS -->
<!-- <link rel="stylesheet" href="/static/css/svg.71e3d86c8d33.css">

<link rel="stylesheet" href="/static/css/main.bd26f7d73223.css">
<link rel="stylesheet" href="/static/css/auth.8d8841e9a9d5.css"> -->

		

<!-- jQuery JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<!-- Tether JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

<!-- jQuery-confirm JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<!-- Chart.js CDN-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

<!-- Django Secure AJAX JS -->
<script src="/static/js/csrf_ajax.67a5c23fbd3a.js"></script>

<!-- Custom JS -->
<script src="/static/js/transaction.c5b530b843b0.js"></script>
<script src="home.4ee5f5cc61c3.js"></script>
<script src="/static/js/loan.94a4fd44c71c.js"></script>
	</head>
	<body>

    













<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:BLACK">
	<div class="container nim">
		<a class="navbar-brand" href="/">
			<i class="fas fa-chart-line fa-lg" aria-hidden="true"></i>
            निVESH
		</a>
		
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
				</li>
				
				<li class="nav-item ">
					<a class="nav-link" href="../NIVESH/home.html">Simulator</a>
				</li>
				
					<li class="nav-item ">
						<a class="nav-link" href="../Stock Forex Data/index.html">Visualizations</a>
					</li>
                    <li class="nav-item ">
						<a class="nav-link" href="../News/gulpfile.js">News</a>
					</li>
			</ul>
			<ul class="navbar-nav ml-auto">
				
					<li class="nav-item" style="color: red;">
						<a class="nav-link" href="/login/">Login</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link" href="/register/">Register</a>
					</li>
				
			</ul>
		</div>
	</div>
</nav>
    
    <header>
      <div class="overlay"></div>
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="home.mp4" type="video/mp4">
      </video>
      <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
          <div class="w-100 text-white">
            <b><h1 class="display-3">निVESH</h1></b>
            <!-- <p class="lead mb-4"><b>Morphosis 2k19</b></p><br/> -->
            <a class="btn btn-outline-light market-button mt-5" href="/market/overview/">
              Enter Market
            </a>
          </div>
        </div>
      </div>
    </header>

    <section class="my-5">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-2"></div>
          <div class="col">
            <p style="text-align: justify">
                Keeping in view the real thrill of the market monotony, we are here with the Virtual Simulation of the same thrill
                and adrenaline rush through the event under the banner of <strong>MORPHOSIS</strong>. The virtual share market enables the participants
                to trade, buy, sell mortgage and showcase their rationality, their mettle against competitive decision making under
                pressure. The full time active virtual market will be a platform to showcase your inferential, pressure-handling
                capability. So, be a part of it to experience the Raising Spirit of Competitiveness and explore your ability of Decision
                Making.
            </p>
          </div>
          <div class="col-12 col-md-2"></div>
        </div>
        <div class="row">
          <div class="col-12 my-3">
            <p>
              <b>Disclaimer:</b> Though we have tried our best to avoid any unfortunate circumstances,
              but if in case any discrepancies occur and we are unable to resume the game then the player who
              was holding the top position on the leaderboard at the time of that event will be declared
              as the winner. The morphosis team will not be responsible for any inconviniences whatsoever.
            </p>
          </div>
        </div>
      </section>

    <footer class="footer-custom">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-copyright">
                <p class="text-center">
                    <a class="anchor-black" href="https://morphosis.org.in/" target="_blank">M O R P H O S I S</a>
                </p>
            </div>
            <div class="col-md-4 mx-auto">
                <h3 class="text-center"><i class="fas fa-chart-line" aria-hidden="true"></i><br>
                    निVESH
                </h3>
                <p class="text-center">© 2021,निVESH</p>
            </div>
            <div class="col-md-4 social-networks">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a class="anchor-black" target="_blank" href="https://www.instagram.com/nitmz_morphosis/">
                            <i class="fab fa-instagram" aria-hidden="true"></i>
                        </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </li>
                    <li class="list-inline-item">
                        <a class="anchor-black" target="_blank" href="https://www.facebook.com/NITMz.morphosis/">
                            <i class="fab fa-facebook-f" aria-hidden="true"></i>
                        </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </li>
                    <li class="list-inline-item">
                        <a class="anchor-black" target="_blank" href="https://www.linkedin.com/company/13677719/">
                            <i class="fab fa-linkedin-in" aria-hidden="true"></i>
                        </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </li>
                    <li class="list-inline-item">
                        <a class="anchor-black" target="_blank" href="https://github.com/morphosis-nitmz">
                            <i class="fab fa-github" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
	</body>
</html>