<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.82.0">
    <title>Fundamentals</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/blog/">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
    integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

  <!-- FontAwesome CSS -->
  <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">

  <!-- SVG Icons CSS -->
  <!-- <link rel="stylesheet" href="/static/css/svg.71e3d86c8d33.css">

<link rel="stylesheet" href="/static/css/main.bd26f7d73223.css">
<link rel="stylesheet" href="/static/css/auth.8d8841e9a9d5.css"> -->


  <link href="../../public/homeassets/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- jQuery JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <!-- Tether JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
    integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>

  <!-- jQuery-confirm JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>

  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
    integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"></script>

  <!-- Chart.js CDN-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

  <!-- Django Secure AJAX JS -->
  <script src="/static/js/csrf_ajax.67a5c23fbd3a.js"></script>

  <!-- Custom JS -->
  <script src="/static/js/transaction.c5b530b843b0.js"></script>
  <script src="home.4ee5f5cc61c3.js"></script>
  <script src="/static/js/loan.94a4fd44c71c.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="shortcut icon" href="../../public/nivesh.png">

    <!-- Bootstrap core CSS -->
<link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">
<meta name="theme-color" content="#7952b3">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../public/blog.css" rel="stylesheet">
  </head>
  <body>
    
<div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
      </div>
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" href="#">निVESH</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <a class="link-secondary" href="#" aria-label="Search">
        </a>

        <!-- <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a> -->
      </div>
    </div>
  </header>

  
</div>

<main class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">Need To Invest</h1>
      <p class="lead my-3">Learn about the importance of savings. Identify avenues to invest the savings in suitable investment vehicle. Compare historical returns generated by different assets.</p>
      <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <!-- <strong class="d-inline-block mb-2 text-primary">Big Bulls</strong> -->
          <h3 class="mb-0 style=" style="color: green;">Bulls</h3>
          <p class="card-text mb-auto">Rakesh Jhunjhunwala is known as the Big Bull of Dalal Street. On obvious reasons he enjoys a huge fan following in the markets. Many investors have the habit of emulating.....</p>
          <a href="https://www.123helpme.com/essay/Rakesh-Jhunjhunwala-Case-Study-FCAJ6VN6DN6" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
            <img src="../../public/nivesh.png" alt="">
  
          </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <!-- <strong class="d-inline-block mb-2 text-success">Bad Bears</strong> -->
          <h3 class="mb-0 style=" style="color: red;">Bad Bears</h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="mb-auto">8 of the biggest stock market crashes in history - and how they changed our financial lives.</p>
          <a href="https://www.businessinsider.in/finance/news/8-of-the-biggest-stock-market-crashes-in-history-and-how-they-changed-our-financial-lives/articleshow/79688955.cms#:~:text=Wall%20Street%20Crash%20of%201929" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="../../public/nivesh.png" alt="">

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        Read The Basics
      </h3>

      <article class="blog-post">
        <h2 class="blog-post-title">Technical Analysis</h2>

        <p>Introduction to the concept of technical analysis and how it differs from Fundamental analysis. We also discuss the kind of return expectation one needs to set while trading based on Technical Analysis
            Here is an analogy that may help. Think about learning how to drive a car. Once you learn how to drive a car, you can literally drive any car. Likewise, you only need to learn technical analysis once. Once you do so, you can apply TA’s concept on any asset class – equities, commodities, foreign exchange, fixed income, etc.

This is probably one of the biggest advantages of TA compared to the other fields of study. For example, one has to study the profit and loss, balance sheet, and cash flow statements when it comes to fundamental analysis of equity. However, fundamental analysis of commodities is completely different.

If you are dealing with an agricultural commodity like Coffee or Pepper, then the fundamental analysis includes analyzing rainfall, harvest, demand, supply, inventory etc. However, the fundamentals of metal commodities are different, so it is for energy commodities. So every time you choose a commodity, the fundamentals change.

Anyhow, the concept of technical analysis will remain the same irrespective of the asset you are studying. For example, an indicator such as ‘Moving average convergence divergence’ (MACD) or ‘Relative strength index’ (RSI) is used the same way on equity, commodity or currency
        </p>
        <hr>
        <!-- <p>Yeah, she dances to her own beat. Oh, no. You could've been the greatest. 'Cause, baby, <a href="#">you're a firework</a>. Maybe a reason why all the doors are closed. Open up your heart and just let it begin. So très chic, yeah, she's a classic.</p -->
        
      <article class="blog-post">
        <h2 class="blog-post-title">Personal Finance </h2>

        <p>When you think about personal finance, it often circles around planning your financials today, so that you have a better tomorrow. While some can do this themselves (or so they believe), few consult a financial advisor to chart this map for them. However, I’m not a big fan of approaching a financial advisor to help you chart a plan for yourself and your family. You should be able to do this yourself and your family.</p>
        <blockquote>
          <p>Your ‘Financial Advisor’, won’t do any of this.

            He is most likely eager to peddle you a financial product that will earn him a good return. He will do the same with you and 20 other clients he may have.
            
            So eventually, the onus is on you to secure your family’s and your own financial wellbeing. Remember, this is called ‘Personal’ finance for a reason. Its best kept personal and dealt with care and diligence.
            
            Good news is, this is not rocket science. If you have the skills to do basic arithmetic, then half the battle is won. The rest of the work is just the application part where you’ll figure what is good and what is not.
            
            This is exactly the objective of this module. At the end of this module, you will be in a position to do these things –
            
            Develop a deeper understanding of financial products and what goes under the hood
            Set up a financial goal and work towards achieving that
            Identify financial setbacks and address towards correcting them
            I hope you are as excited as I’m about this module!</p>
        </blockquote>
        <p>I'm intrigued, for a peek, heard it's fascinating. Oh oh! Wanna be a victim ready for abduction. She's got that international smile, oh yeah, she's got that one international smile. Do you ever feel, feel so paper thin. I’m gon’ put her in a coma. Sun-kissed skin so hot we'll melt your popsicle.</p>
        <p>This is transcendental, on another level, boy, you're my lucky star.</p>
      </article><!-- /.blog-post -->

     

      <nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
      </nav>

    </div>

    <div class="col-md-4">
      <!-- <div class="p-4 mb-3 bg-light rounded">
        <h4 class="fst-italic">About</h4>
        <p class="mb-0">Saw you downtown singing the Blues. Watch you circle the drain. Why don't you let me stop by? Heavy is the head that <em>wears the crown</em>. Yes, we make angels cry, raining down on earth from up above.</p>
      </div> -->

      

      <div class="p-4">
        <h4 class="fst-italic">Elsewhere</h4>
        <ol class="list-unstyled">
          <li><a href="/NIVESH/simulator">GrowMore</a></li>
          <li><a href="/visualisations">Visualisations</a></li>
          <li><a href="/news">News</a></li>
        </ol>
      </div>
    </div>

  </div><!-- /.row -->

</main><!-- /.container -->



    
  </body>
</html>
