<!DOCTYPE html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge" />   -->
  <title>Nivesh News</title>
  <!-- plugin css for this page -->
  <link rel="shortcut icon" href="../../public/nivesh.png">
  <link rel="stylesheet" href="../../public/newsnivesh/assets/vendors/mdi/css/materialdesignicons.min.css" />
  <link rel="stylesheet" href="../../public/newsnivesh/assets/vendors/aos/dist/aos.css/aos.css" />

  <!-- End plugin css for this page -->
  <link rel="shortcut icon" href="../../public/nivesh.jpeg">

  <!-- inject:css -->
  <link rel="stylesheet" href="../../public/newsnivesh/assets/css/style.css">
  <!-- endinject -->
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="/">
		  <i class="fas fa-chart-line fa-lg" aria-hidden="true"></i>
		  निVESH
		</a>
	
		<!-- Links -->
		<ul class="navbar-nav">
		  <li class="nav-item">
			<a class="nav-link" href="../#road">Roadmap</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="../NIVESH/simulator">GrowMore</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/visualisations">Visualisation</a>
		  </li>
	
		  <!-- Dropdown -->
		  <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
			  Calculators
			</a>
			<div class="dropdown-menu">
			  <a class="dropdown-item" href="../Calculator">Stock Market vs FD returns</a>
			  <a class="dropdown-item" href="../Calculator1">Goal Planning</a>
			</div>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="../news">News</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="../memes">Memes</a>
		  </li>
		  <li style="margin-left: 600px ;" class="nav-item">
			<a class="nav-link" href="/login/">Login</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/signup/">Register</a>
		  </li>
		</ul>
	  </nav>
  <div class="container-scroller" >
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="container">
          <div class="row" data-aos="fade-up" id="carousel1">

          </div>
          <div class="row" data-aos="fade-up">
            <div class="col-lg-3 stretch-card grid-margin">
              <div class="card">
                <div class="card-body">
                  <h2>Category</h2>
                  <ul class="vertical-menu">
                    <li><a href="#" onclick="func('Mukesh Ambani')">Reliance</a></li>
                    <li><a href="#" onclick="func('Bajaj Finance')">Bajaj Finance</a></li>
                    <li><a href="#" onclick="func('Hindustan Unilever')">Hindustan Unilever</a></li>
                    <li><a href="#" onclick="func('HDFC')">HDFC</a></li>
                    <li><a href="#" onclick="func('SBI')">State Bank of India</a></li>
                    <li><a href="#" onclick="func('Maruti Suzuki')">Maruti Suzuki</a></li>
                    <li><a href="#" onclick="func('Infosys')">Infosys</a></li>
                    <li><a href="#" onclick="func('Hindalco')">Hindalco Ltd</a></li>
                    <li><a href="#" onclick="func('Adani Transmission')">Adani Transmission</a></li>
                    <li><a href="#" onclick="func('Ultratech')">Ultratech Cement</a></li>
                    <li><a href="#" onclick="func('Nestle')">Nestle India</a></li>
                    <li><a href="#" onclick="func('Tata Steel')">Tata Steel</a></li>
                    <li><a href="#" onclick="func('ONGC')">Oil and Natural Gas Corporation</a></li>
                    <li><a href="#" onclick="func('Dabur')">Dabur India</a></li>
                    <li><a href="#" onclick="func('ITC')">ITC Ltd.</a></li>
                    <li><a href="#" onclick="func('Bharat Petroleum')">Bharat Petroleum</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-9 stretch-card grid-margin">
              <div class="card">
                <div class="card-body" id="carousel2">
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- inject:js -->
  <script src="../../public/newsnivesh/assets/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- plugin js for this page -->
  <script src="../../public/newsnivesh/assets/vendors/aos/dist/aos.js/aos.js"></script>
  <!-- End plugin js for this page -->
  <!-- Custom js for this page-->
  <script src="../../public/newsnivesh/assets/js/demo.js"></script>
  <script src="../../public/newsnivesh/assets/js/jquery.easeScroll.js"></script>
  <!-- End custom js for this page-->
  <script src="../../public/newsnivesh/index.js"></script>
</body>

</html>